extends ../../layouts/default.pug
include ../../mixins/page-header.pug

block main
  div(data-crud=`${prefixAdmin}/flash-sale` data-entity-name="chương trình" style="display:none")
  +pageHeader("Quản lý Flash Sale", "Tạo và quản lý các chương trình Flash Sale")
    if userPermissions && userPermissions.includes("flash-sale_create")
      a.btn.btn-add-product(href=`${prefixAdmin}/flash-sale/create`)
        i.fas.fa-plus.mr-2
        | Tạo Flash Sale

  .admin-table-wrapper
    if flashSales && flashSales.length > 0
      table.admin-table
        thead
          tr
            th.col-stt STT
            th.col-title Tên chương trình
            th Thời gian
            th Số sản phẩm
            th Tiến trình
            th.col-status Trạng thái
        tbody
          each sale, index in flashSales
            tr.animate-in
              td.col-stt= index + 1
              td.col-title
                .product-title-cell
                  span.product-name= sale.title
                .product-hover-actions
                  if userPermissions && userPermissions.includes("flash-sale_edit")
                    a.hover-action-link.hover-action-edit(href=`${prefixAdmin}/flash-sale/edit/${sale._id}`) Sửa
                  if userPermissions && userPermissions.includes("flash-sale_change-status")
                    if sale.status === "active"
                      a.hover-action-link.hover-action-status.btn-change-status(href="javascript:void(0)" data-id=sale._id data-status="active") Dừng hoạt động
                    else
                      a.hover-action-link.hover-action-status.btn-change-status(href="javascript:void(0)" data-id=sale._id data-status="inactive") Hoạt động
                  if userPermissions && userPermissions.includes("flash-sale_delete")
                    a.hover-action-link.hover-action-danger(href="javascript:void(0)" data-id=sale._id) Xoá
              td
                div
                  small.text-muted Bắt đầu:
                  |  #{new Date(sale.startTime).toLocaleString('vi-VN')}
                div
                  small.text-muted Kết thúc:
                  |  #{new Date(sale.endTime).toLocaleString('vi-VN')}
              td
                span.category-tag= sale.products.length + ' sản phẩm'
              td
                if sale.timeStatus === 'ongoing'
                  span.status-badge.status-active
                    i.fas.fa-circle.mr-1(style="font-size: 8px")
                    | Đang diễn ra
                else if sale.timeStatus === 'upcoming'
                  span.status-badge(style="background: #fff3cd; color: #856404")
                    i.fas.fa-clock.mr-1
                    | Sắp diễn ra
                else
                  span.status-badge.status-inactive
                    i.fas.fa-check.mr-1
                    | Đã kết thúc
              td.col-status
                if sale.status === "active"
                  span.status-badge.status-active Hoạt động
                else
                  span.status-badge.status-inactive Tạm dừng
    else
      .admin-empty-state
        i.fas.fa-bolt(style="font-size: 48px; color: #ddd")
        h4 Chưa có chương trình Flash Sale nào
        p Tạo Flash Sale đầu tiên để thu hút khách hàng
        if userPermissions && userPermissions.includes("flash-sale_create")
          a.btn.btn-add-product(href=`${prefixAdmin}/flash-sale/create`)
            i.fas.fa-plus.mr-2
            | Tạo Flash Sale
